@keyframes typing {
  0%,
  50% {
    width: 0;
  }
  50%,
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.6s steps(28, end) infinite; /* La animación de escritura se repite cada 2.4 segundos */
}

.blink {
  animation: blink 1s infinite;
}

.icon-transition {
  border: solid 2px black;
  border-radius: 6px;
  box-shadow: 6px 6px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease-in-out, color 0.3s ease,
    background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.icon-transition:hover {
  transform: scale(1.06);
  color: var(--custom-color-toggleable);
  background-color: black;
  box-shadow: none;
  border: solid 2px var(--custom-color-toggleable);
}

@media screen and (max-width: 314px) {
  .hidden-text {
    display: none;
  }
}
