<section class="flex justify-center items-center text-gray-200">
  <div class="content-width presentation-box bg-2">
    <div class="md:p-8">
      <h2 class="font-bold text-xl mb-4 md:text-2xl">Sobre mí</h2>
      <p class="text-sm md:text-lg">
        +2 años de experiencia como Desarrollador Web. Actualmente soy
        estudiante en último año de
        <a href="https://exa.unicen.edu.ar/tudai/" target="_blank">
          <strong class="custom-font-color">TUDAI</strong>
        </a>
        mientras me desempeño como freelance. Me especializo en el desarrollo de
        aplicaciones utilizando tecnologías como
        <span class="custom-font-color">Java, React y Angular</span>.
      </p>
    </div>
  </div>
</section>
