<section class="flex justify-center items-center text-gray-200 py-12">
  <div class="content-width presentation-box">
    <div class="md:p-8">
      <h2 class="font-bold text-2xl mb-4">Sobre mí</h2>
      <p class="text-lg">
        Soy estudiante de <strong class="custom-font-color">TUDAI</strong> y
        autodidacta. Me especializo en el desarrollo de aplicaciones utilizando
        tecnologías como
        <span class="custom-font-color">Java, React y Angular</span>. Siempre en
        busca de nuevos desafíos y oportunidades de aprendizaje.
      </p>
    </div>
  </div>
</section>
