<section class="flex justify-center items-center text-gray-200">
  <div class="content-width presentation-box bg-2">
    <div class="md:p-8">
      <h2 class="font-bold text-xl mb-4 md:text-2xl">Sobre mí</h2>
      <p class="text-sm md:text-lg">
        Soy estudiante de <strong class="custom-font-color">TUDAI</strong> y
        autodidacta. Me especializo en el desarrollo de aplicaciones utilizando
        tecnologías como
        <span class="custom-font-color">Java, React y Angular</span>.
      </p>
    </div>
  </div>
</section>
