<div class="flex justify-center items-start text-gray-200">
  <div
    class="flex items-center justify-center flex-col md:my-12 mb-12 mt-0 md:flex-row content-width presentation-box"
  >
    <figure class="w-80 h-80">
      <img
        src="../../../assets/Penguin_Frames_dancing.gif"
        alt="Penguin_Frames_dancing"
        class="w-full h-full"
      />
    </figure>
    <div class="flex flex-col">
      <div class="flex justify-center md:justify-start">
        <h1 class="font-bold text-3xl">¡Hola! soy Santiago,</h1>
      </div>
      <div class="flex items-center justify-center md:justify-start">
        <h2 class="font-bold text-lg typing-animation">
          desarrollador de software
          <span class="custom-font-color">fullstack.</span>
        </h2>
        <h2 class="blink font-bold text-lg">|</h2>
      </div>
      <div
        class="mt-14 space-x-4 flex justify-center md:justify-start custom-font-color"
      >
        <a
          href="https://www.linkedin.com/in/santiago-moyano-4649952a2/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-2x fa-linkedin icon-transition"></i
        ></a>
        <a
          href="https://github.com/SantiMoyano"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-2x fa-github icon-transition"></i
        ></a>
        <a href="link_de_CV" target="_blank" rel="noopener noreferrer"
          ><i class="fas fa-2x fa-file-alt icon-transition"></i
        ></a>
      </div>
    </div>
  </div>
</div>
