<section
  id="projects"
  class="flex flex-col justify-center items-center text-gray-200"
>
  <h2 class="text-3xl mb-8 font-semibold">Proyectos</h2>
  <ul class="projects-container grid grid-cols-1 sm:grid-cols-2 gap-8">
    <ng-container *ngFor="let project of projects; let last = last">
      <div class="flex flex-col items-center justify-center">
        <li class="presentation-box bg-2 relative md:p-6">
          <!-- Contenedor de cada proyecto -->
          <div class="flex flex-col">
            <!-- Imagen del proyecto -->
            <div class="relative overflow-hidden h-40">
              <figure
                class="tools-text w-full h-full image-box relative border-2"
              >
                <img
                  src="{{ project.imageUrl }}"
                  class="w-full h-full object-cover image-inside z-60"
                />
              </figure>
              <!-- Texto descriptivo (oculto por defecto) -->
              <div
                class="absolute-div absolute top-0 left-0 w-full h-full p-4 opacity-0 hover:opacity-100 transition-opacity duration-300 ease-in-out flex flex-col justify-end items-end"
              >
                <h3 class="text-xl font-bold mb-2">{{ project.title }}</h3>
                <div
                  class="space-x-4 gap-y-2 flex flex-col md:flex-row items-end font-semibold"
                >
                  <a
                    *ngIf="project.github !== ''"
                    [href]="project.github"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center justify-center space-x-2 icon-transition bg-3 px-3"
                  >
                    <span class="py-1 text-sm">Ver github</span>
                  </a>
                  <a
                    *ngIf="project.website !== ''"
                    [href]="project.website"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center justify-center space-x-2 icon-transition bg-3 px-3"
                  >
                    <span class="py-1 text-sm">Visitar página</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Texto descriptivo -->
            <div class="py-4 flex flex-col justify-center">
              <h3 class="text-2xl font-bold mb-2">
                {{ project.title }}
              </h3>
              <p class="mb-8 tools-text">{{ project.shortDesc }}</p>
              <div>
                <h4 class="font-semibold">Herramientas:</h4>
                <ul class="pl-0 list-none">
                  <li
                    *ngFor="let tool of project.tools; let lastTool = last"
                    class="inline tools-text custom-font-color"
                  >
                    {{ tool }}<span *ngIf="!lastTool"> ·</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ng-container>
  </ul>
</section>
