@import "~@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
figure,
html {
  padding: 0;
  margin: 0;
}

body,
header {
  background-color: rgb(0, 0, 0);
  font-family: "Space Mono", "Montserrat", "sans-serif";
}

.bg-1 {
  background-color: rgb(26, 26, 26);
}

.bg-2 {
  background-color: rgb(13, 13, 13);
}

.bg-3 {
  background-color: rgb(193, 255, 37);
}

.min-content-height {
  min-height: calc(100dvh - 80px);
}

.presentation-box {
  border: 2px dotted rgb(193, 255, 37);
  box-shadow: 8px 8px rgb(13, 13, 13);
}

.custom-font-color {
  color: rgb(193, 255, 37);
}

.content-width {
  width: 780px;
  min-width: 780px;
  max-width: 780px;
}

@media screen and (max-width: 768px) {
  .content-width {
    width: 80%;
    min-width: 80%;
    max-width: 95%;
  }

  .presentation-box {
    width: 90%;
    padding: 24px;
  }
}
