@import "~@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
figure,
html {
  padding: 0;
  margin: 0;
}

body,
header {
  background-color: rgb(26, 26, 26);
  font-family: "Montserrat", "sans-serif";
}

.bg-1 {
  background-color: rgb(26, 26, 26);
}

.bg-2 {
  background-color: rgb(13, 13, 13);
}

.min-content-height {
  min-height: calc(100dvh - 80px);
}

.presentation-box {
  border: 2px solid rgb(193, 255, 37);
  border-style: dotted;
}

.custom-font-color {
  color: rgb(193, 255, 37);
}

.content-width {
  width: 720px;
  min-width: 720px;
  max-width: 720px;
}

@media screen and (max-width: 768px) {
  .content-width {
    width: 80%;
    min-width: 80%;
    max-width: 95%;
  }

  .presentation-box {
    border: none;
  }
}
